<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                                
            </button>
            <a class="navbar-brand" href="/">
                <i class="fa fa-cube"></i>
            </a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="{{#eq title 'Home'}}active{{else}}undefined{{/eq}}">
                    <a href="/">Home</a>
                </li>
                <li class="{{#eq title 'API Examples'}}active{{else}}undefined{{/eq}}">
                    <a href="/api">API Examples</a>
                </li>
                <li class="{{#eq title 'Contact'}}active{{else}}undefined{{/eq}}">
                    <a href="/contact">Contact</a>
                </li>
                <li>
                    <a href="/status">Status</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {{#not user}}
                    <li class="{{#eq title 'Login'}}active{{else}}undefined{{/eq}}">
                        <a href="/login">Login</a>
                    </li>
                    <li class="{{#eq title 'Create Account'}}active{{else}}undefined{{/eq}}">
                        <a href="/signup">Signup</a>
                    </li>
                {{else}}
                    <li class="{{#eq title 'Account Management'}}active{{else}}undefined{{/eq}}">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                            {{#if user.profile.picture}}
                                <img src="{{user.profile.picture}}">
                            {{else}}
                                <img src="">
                            {{/if}}
                            <span>
                                {{#if user.profile.name}}
                                    {{user.profile.name}}
                                {{else if user.email}}
                                    {{user.email}}
                                {{else if user.id}}
                                    {{user.id}}
                                {{/if}}
                            </span>
                            <i class="caret"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/account">My Account</a>
                            </li> 
                            <li class="divider"></li>
                            <li>
                                <a href="/logout">Logout</a>
                            </li>
                        </ul>
                    </li>
                {{/not}}
            </ul>
        </div>
    </div>
</div>

